# Project specific
template
build
.secrets

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Docker
.docker/
*.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
